# 18 File Access Using pandas
File(s) needed: Applewood_2011.csv, Boston_housing_SMALL.csv, fishcatch.txt, fish_info.txt, Oysters.xlsx

In earlier classes we manually read text file data using base Python functionality. Today we begin to see one of the reasons why Python is so popular: libraries. Libraries are self-contained packages of coded capabilities that can be imported into Python to extend its functionality. One of the most fundamental libraries for working with data is called pandas.

pandas (always with a small "p") contains a set of _parsers_ that read each bit of data and determine the purpose of each bit within the context of the overall file. The key is to use the correct parser for the task at hand.

Have you ever seen a data file where the first row contains column headers? Of course you have! That is way more common than just having rows of data like we had before. By using the correct parser in pandas, we can automatically read the headers. Of course, we can program that ourselves in base Python, but why would we want to? Someone else already did a good job of doing it so let's use their code.

## Using a library
First we need to talk about using a library in our code. We use the import command at the beginning of our code to access the library's functionality. We will often use the `as` clause to create a shorthand for the library.

Of course, the library has to be available to you. That means it has to be downloaded and installed. This is why we are using the Anaconda product - it comes with pandas and many other libraries already included. 

Learn more at http://pandas.pydata.org/

In [1]:
# We will use this syntax.
# You will see that this way makes it easier to access the functions.
# You will also see online that this is the way most people do it.
import pandas as pd

In [2]:
# The data has to be stored somewhere when it is read. That means we need
# a variable name on the left side of an assignment operator.
applewood_table = pd.io.parsers.read_csv("Applewood_2011.csv")
print(applewood_table)

     Age  Profit   Location Vehicle-Type  Previous
0     21    1387   Tionesta        Sedan         0
1     23    1754  Sheffield          SUV         1
2     24    1817  Sheffield       Hybrid         1
3     25    1040  Sheffield      Compact         0
4     26    1273       Kane        Sedan         1
5     27    1529  Sheffield        Sedan         1
6     27    3082       Kane        Truck         0
7     28    1951       Kane          SUV         1
8     28    2692   Tionesta      Compact         0
9     29    1206  Sheffield        Sedan         0
10    29    1342       Kane        Sedan         2
11    30     443       Kane        Sedan         3
12    30     754      Olean        Sedan         2
13    30    1621  Sheffield        Truck         1
14    31     870   Tionesta        Sedan         1
15    31    1174       Kane        Truck         0
16    31    1412  Sheffield        Sedan         1
17    31    1809   Tionesta        Sedan         1
18    31    2415       Kane        Sedan         0
19    32    1546  Sheffield        Truck         3
20    32    2148   Tionesta          SUV         2
21    32    2207  Sheffield      Compact         0
22    32    2252   Tionesta          SUV         0
23    33    1428       Kane          SUV         2
24    33    1889      Olean          SUV         1
25    34    1166      Olean        Sedan         1
26    34    1320   Tionesta        Sedan         1
27    34    2265      Olean        Sedan         0
28    35    1323      Olean        Sedan         2
29    35    1760       Kane        Sedan         1
..   ...     ...        ...          ...       ...
150   56    1957  Sheffield          SUV         1
151   56    2240      Olean        Sedan         0
152   56    2695       Kane        Sedan         2
153   57    1325      Olean        Sedan         1
154   57    2250  Sheffield        Sedan         2
155   57    2279  Sheffield       Hybrid         1
156   57    2626  Sheffield        Sedan         2
157   58    1501  Sheffield       Hybrid         1
158   58    1752       Kane        Sedan         3
159   58    2058       Kane          SUV         1
160   58    2370   Tionesta      Compact         0
161   58    2637  Sheffield          SUV         1
162   59    1426  Sheffield        Sedan         0
163   59    2944      Olean          SUV         2
164   60    2147      Olean        Sedan         2
165   61    1973       Kane          SUV         3
166   61    2502      Olean        Sedan         0
167   62     783  Sheffield       Hybrid         1
168   62    1538      Olean        Truck         1
169   63    2339      Olean      Compact         1
170   64    2700       Kane        Truck         0
171   65    2222       Kane        Truck         1
172   65    2597  Sheffield        Truck         0
173   65    2742   Tionesta          SUV         2
174   68    1837  Sheffield        Sedan         1
175   69    2842       Kane          SUV         0
176   70    2434      Olean        Sedan         4
177   72    1640      Olean        Sedan         1
178   72    1821   Tionesta          SUV         1
179   73    2487      Olean      Compact         4

[180 rows x 5 columns]

Before we go on, let's talk about the specific parts of the above reading statement and what they do. Remember that we can use the autocomplete feature or ? to get more informqation about a library or its contents.
****

The `applewood_table` variable we used to store the result of the last code is actually an object called a data frame. A **_data frame_** (also written as DataFrame) is a data structure that holds two-dimensional data, like a table. Much of the data you see is in table format, which means a data frame is an excellent choice for a storage method. The parsers in pandas default to using data frames when they read data that appears to have multiple rows and columns.

Each row in the data frame has an **_index_**. The index value uniquely identifies the row. You can think of it as a *primary key* field for the table. If the data already includes an index, we can tell pandas which column it is in. If there isn't an index already, pandas will create one. The index value is how we reference specific rows.

The data frame has many built-in methods we can access to look at its contents. Here are some examples of some helpful ones.

In [ ]:
# See how many rows there are by printing the pandas-generated index values
applewood_table.index

In [ ]:
# See the names of the columns
applewood_table.columns

In [ ]:
# Gives you summary descriptive statistics on your data.
applewood_table.describe()

In [ ]:
# See the first five lines of the table.
applewood_table.head()

In [ ]:
# See the last five lines of data with
applewood_table.tail()

We can change the read statement as needed. The example below uses the `read_table` parser, which defaults to the `TAB` character as a delimiter. We use the `sep` argument to tell pandas the file uses semicolon delimiters.

In [ ]:
# a slightly different example
boston_table = pd.io.parsers.read_table("Boston_housing_SMALL.csv", sep=";")
print (boston_table)

# Run this cell, then insert new cells to try some of the data frame methods like we did previously.

We can also select specific fields when reading csv files if we don't need every column for the analysis.

In [ ]:
# Read the data from just two columns of the source.
applewood_subset = pd.io.parsers.read_csv("Applewood_2011.csv", usecols=['Profit','Location'])
applewood_subset.head()

## Excel files
The `read_excel()` method in pandas can read Excel 2003 (.xls) and Excel 2007+ (.xlsx) files using the xlrd Python module. The `to_excel()` instance method is used for saving a DataFrame to Excel. Generally the semantics are similar to working with csv data.

In the most basic use-case, `read_excel` takes a path to an Excel file, and the sheet_name indicating which sheet to parse.

```
# Returns a DataFrame
read_excel('path_to_file.xls', sheet_name='Sheet1')
```

Using more of the available arguments:
```
Using the sheet name
  read_excel('path_to_file.xls', 'Sheet1', index_col=None, na_values=['NA'])

Using the sheet index:
  read_excel('path_to_file.xls', 0, index_col=None, na_values=['NA'])

Using all default values:
  read_excel('path_to_file.xls')

Using None to get all sheets:
  read_excel('path_to_file.xls', sheet_name=None)

Using a list to get multiple sheets:
Returns the 1st and 4th sheet, as a dictionary of DataFrames.
  read_excel('path_to_file.xls', sheet_name=['Sheet1', 3])
```

As you see in the last two entries, `read_excel` can read more than one sheet at a time by setting sheet_name to either a list of sheet names, a list of sheet positions, or None to read all sheets. Sheets can be specified by sheet index or sheet name, using an integer or string, respectively.

In [9]:
# Example: read from an Excel file
# The data already includes an index value so we can specify that pandas uses it in the data.
import pandas as pd
oyster_data = pd.read_excel("Oysters.xlsx", "Original", index_col='Oyster_ID', na_values=['NA'])
oyster_data.head()

           Oyster_Weight_g  Oyster_Volume_CC  Pixels_3D  Pixels_2D
Oyster_ID
1                    12.92             13.04    5136699      47907
2                    11.40             11.71    4795151      41458
3                    17.42             17.42    6453115      60891
4                     6.79              7.23    2895239      29949
5                     9.62             10.03    3672746      41616

## Database files
pandas also has built-in capabilities for reading database files. Many of the best known databases rely on SQL and pandas leverages SQL for data access. The library `sqlalchemy` provides these functions for SQL databases like SQLite, MySQL, SQL Server, and MS Access (through the ODBC standard). We will not have time to cover these in class but you should be aware of them for future use.

## Missing data
A full discussion of missing data is beyond the scope of this class. However, here is a link to some of the basic functionality built into pandas for handling missing data.

http://pandas.pydata.org/pandas-docs/stable/10min.html#missing-data

## Writing to a csv or Excel file
It's pretty straightforward. Two code examples are shown below.

In [ ]:
#Write the Applewood data to a csv file
applewood_table.to_csv('new_AW.csv')

In [ ]:
# Write two columns from the oyster data to an Excel file with a named sheet
oyster_data.to_excel('new_oyster.xlsx', sheet_name='Awesome',columns=['Oyster_Weight_g', 'Oyster_Volume_CC'])

## Programming exercises
Restart the kernel before you start on these. It will free up memory but you have to include the reading code for the Oysters.xlsx file in #2.
1. Read data from the tab delimited file `fishcatch.dat`, display the first 5 rows, then write all of the data to an Excel file named "finnish_fish.xlsx" in your repository. To see how the data file is organized look at the "fish_info.txt" file. 

2. Read data from the 'Singers' sheet of the `Oysters.xlsx` file. Write only the singer names to a csv file named "oyster_faves.csv" in your repository.

In [23]:
fish_table = pd.io.parsers.read_table("Fishcatch.txt", header=None, sep=",")

fish_data = pd.read_table('Oysters.xlsx', 'Singers', index_col='Oyster_ID', na_values=['NA'])
fish_data.head()
fish_data.to_excel('Oysters.xlsx', 'Singers', index_col='Oyster_ID', na_values=['NA'])

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  This is separate from the ipykernel package so we can avoid doing imports until

ValueError: Index Oyster_ID invalid